.container{
    margin-top: 10px;
}


.form-group[_ngcontent-mnn-c53] {
    margin: 0.5rem;
}

@media (min-width: 700px) {
    .container {
      width: 650px;
    }
  }

  input[type=number]:first-of-type::-webkit-inner-spin-button, 
input[type=number]:first-of-type::-webkit-outer-spin-button{ 
-webkit-appearance: none !important; 
 margin: 0 !important; 
}
.form-group {
    margin: 1rem;
}

.contentInput{
 height: 100px;
}

.bg-light{
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}


.holder {
    background:lightgray;
    padding:0.5rem;
    overflow: hidden;
    color: red;
  }
  .message {
    animation : slide 20s linear infinite;
     }
  
  @keyframes slide {
    0% {
      transform: translatex(0%)
    }
  
    100% {
      transform: translatex(100%)
    }
  }