<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <img style="height: 50px;" src="https://userimag.s3.amazonaws.com/ebook.jpg">
      <li class="nav-item">
      <a class="nav-link"><h5 style="color: antiquewhite;">Digitial Book</h5></a>
      </li>
      <li class="nav-item" *ngIf="showAuthor">
        <a href="/home" class="nav-link" routerLink="home">Author Dashboard </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/subscribedbook" class="nav-link" routerLink="subscribedbook">Subscribed Book </a>
      </li>
      <li class="nav-item">
        <a href="/searchbook" class="nav-link" routerLink="searchbook">Search Book</a>
      </li>
      <li class="nav-item"  *ngIf="showAuthor">
        <a href="/createbook" class="nav-link" *ngIf="isLoggedIn" routerLink="createbook">Create Book</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

 <div>
    <router-outlet></router-outlet>
  </div>
</div>