.container{
    margin-top: 50px;
}

@media (min-width: 700px) {
    .container {
      width: 650px;
    }
  }

  input[type=number]:first-of-type::-webkit-inner-spin-button, 
input[type=number]:first-of-type::-webkit-outer-spin-button{ 
-webkit-appearance: none !important; 
 margin: 0 !important; 
}
.form-group {
    margin: 1rem;
}

.contentInput{
 height: 100px;
}

.bg-light{
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}