<div class="container">
    <div class="col-md-12">
        <div class="card card-container">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <ul class="navbar-nav mr-auto" routerLinkActive="active">
                    <li class="nav-item">
                      <strong>Update Book</strong>
    
                    </li>
                  </ul>
            </nav>
          <form
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="onSubmit()"
            #f="ngForm"
            novalidate
          >
         
            <div class="form-group">
              <label for="booktitle">Book Title</label>
              <input
                type="text"
                disabled="true"
                class="form-control"
                name="booktitle"
                [(ngModel)]="book.booktitle"
                required
                minlength="2"
                maxlength="200"
                #booktitle="ngModel"
              />
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="number"
                  pattern="[0-9]" 
                  step="1"
                  disabled="true"
                  class="form-control no-spin"
                  name="price"
                  [(ngModel)]="book.price"
                  #price="ngModel"
                  oninput="validity.valid||(value='');"
                />
            </div>
                <div class="form-group">
                    <label for="role">Category</label>
                    <select class="form-control" disabled="disabled" name="category" [(ngModel)]="book.category" #category="ngModel"  required>
                        <option value="">Select</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Drama">Drama</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Horror">Horror</option>
                        <option value="Sport">Sport</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="bookcode">Book File</label>
                    <input
                      type="file"
                      class="form-control no-spin"
                      name="bookcode"
                      (ngModel)="book.bookcode"
                      required
                      (change)="selectFile($event)"
                      accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                      text/plain, application/pdf"
                      #bookcode="ngModel"
                    />
                    <div class="alert-danger" *ngIf="bookcode.errors && f.submitted">
                      <div *ngIf="bookcode.errors?.['required']">BOok File is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="audiourl">Audio URL</label>
                    <input
                      type="text"
                      disabled="true"
                      class="form-control no-spin"
                      name="audiourl"
                      [(ngModel)]="book.audiourl"
                      #audiourl="ngModel"
                    />
                  </div>
        
                  <div class="form-group">
                    <label for="content">Content</label>
                    <textarea input="text"
                    disabled="true"
                      class="form-control no-spin contentInput"
                      name="content"
                      [(ngModel)]="book.content"
                      #content="ngModel"
                    ></textarea>
                  </div>
                  
           
            <div class="form-group">
              <button class="btn btn-primary btn-block">Update Book</button>
            </div>
      
            <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
              Book failed to Update!<br />{{ errorMessage }}
            </div>
          </form>
      
          <div class="alert alert-success" *ngIf="isSuccessful">
            Update is successful!
          </div>
        </div>
      </div>
    </div>