
<div class="container">

<div class = "row ">
    <h4> Book List</h4>
</div>


<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Logo</th>
            <th> Book Title</th>
            <th> Category </th>
            <th>Content</th>
            <th> Price</th>
            <th>Subscription Count</th>
           
            <th> Actions </th>
        </tr>
    </thead>
    <tbody  *ngIf="bookCount">
        <tr *ngFor = "let book of Books" >
            <td  style="width:8%;"><img style=" height:70px; width:70px" [src]="logo(book.logo)"></td>
            <td  style="width:12%"> {{book.booktitle }}</td>
            <td  style="width:10%"> {{book.category}}</td>
            <td  style="width:23%"> {{book.content}}</td>
            <td  style="width:6%"> {{book.price}} </td>
            <td style="text-align:center;width:18%" >{{book.subscribedcount}} </td>
       
            <td  style="width:25%">
                <button (click)="view(book.bookcode)" class = "btn btn-primary marginleft"> View </button>
                <button (click) = "update(book.id)" class = "btn btn-primary marginleft"> Update</button>
                <button (click) = "blockunblock(book.id, 'block')"  class = "btn btn-danger marginleft" *ngIf="book.isactive==1"> Block</button>
                <button (click) = "blockunblock(book.id, 'unblock')"  class = "btn btn-danger marginleft" *ngIf="book.isactive==0"> UnBlock</button>
                
            </td>
        </tr>
    </tbody>
    <tbody  *ngIf="!bookCount">
        <tr>
            <td colspan="7"></td>
        </tr>
        <tr style="height:150px">
           
            <td colspan="7"style="text-align: center;"> No Data Available</td>
        </tr>
    </tbody>
</table>
</div>