input[type=number]:first-of-type::-webkit-inner-spin-button, 
input[type=number]:first-of-type::-webkit-outer-spin-button{ 
-webkit-appearance: none !important; 
 margin: 0 !important; 
}

.imageSize{
    height : 180px;
}

@media (min-width: 500px) {
    .container {
      width: 450px;
      margin-top : 30px;
    }
  }

  .form-group {
    margin: 1rem;
}